* {
    box-sizing: border-box;
}

body {
    color: black;
    text-align: center;
}

#container {
    background-color: rgb(56, 55, 55);
    width: 500px;
    height: 800px;
    align-content: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.display {
    background-color: azure;
    height: 150px;
    width: 445px;
    display:flex;
    flex-direction: column;
}


.screen-last {
    height: 50px;
}

.screen-current {
    height: 150px;
}

.screen-last,
.screen-current {
    padding: 10px;
    width: 445px;
}

.buttons {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

.clear,
.delete {
    width: 215px;
}

button {
    font-size: 24px;
    width: 100px;
    height: 100px;
}

